<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ article.meta('title') }}{% endblock %}</title>
        {% block metas %}
            {% for meta in article.metas %}
                {{ render_meta(meta) }}
            {% endfor %}
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path('cms_feed') }}" />
        <link rel="sitemap" type="application/xml" title="{{ 'Sitemap'|trans({}, 'VinceCms') }}" href="{{ path('cms_sitemap') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>