<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% if article is defined %}{{ article.meta('title') }}{% endif %}{% endblock %}</title>
        {% block metas %}
            {% if article is defined %}
                {{ render_metas(article) }}
            {% endif %}
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path('cms_feed') }}" />
        <link rel="sitemap" type="application/xml" title="{{ 'Sitemap'|trans({}, 'VinceCms') }}" href="{{ path('cms_sitemap') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>